.jumbotron {
	background-color: #C9FBFC;
	margin-top: 50px;
}

.container {
	margin-bottom: 50px;
	margin-top: 50px;
}

footer {
	background-color: #22ADAF;
	padding: 50px 10px 0 10px;
	margin-bottom: 0px;
}

footer h1 {
	text-align: center;
}

a {
	margin: 10px;
}


j

.direccion {
	'justify-content: space-around;
}

.card-documentacion {
	padding: 10px 5px 10px 5px;
	margin-top: 10px;
}

.footer-adress-icon {
	padding right: 10px;
}